.custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, #333, #000); 
    color: white;
    height: 100px;
    padding: 0 20px; 
  }
  
  .left-buttons,
  .right-buttons {
    
    display: flex;
    align-items: center;
  }
  
  .right-buttons button {
    background-color:lightgray;
    width: 160px;
    height: 65px;
    margin-left: 40px; 
  }
  
  .title {
    font-size: 20px; 
  }