


<header class="custom-header">
    <div class="left-buttons">
      <button>Logo</button>
    </div>
    <div class="title">InvTech</div>
    <div class="right-buttons">
      <button>Buscar</button>
      <div id="g_id_onload"
          data-client_id="200563515634-gn3ii07vhf0bjud646u1gfb2llkbedrk.apps.googleusercontent.com"
          data-context="use"
          data-ux_mode="popup"
          data-login_uri="https://www.google.es"
          data-nonce=""
          data-auto_prompt="false">
      </div>

      <div class="g_id_signin"
          data-type="standard"
          data-shape="pill"
          data-theme="filled_blue"
          data-text="signin_with"
          data-size="large"
          data-logo_alignment="left">
      </div>
    </div>
  </header>
